// Menu Button
.hide-overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  .overlay-content {
    width: 100%;
    text-align: center;
    position: relative;
    top: 25%;
    a {
      padding: 1vh;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
      font-family: 'Cardo', serif;
    }
  }
  .overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
  }
}

.video-nav-overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.video-wrapper{
  width:100%;
  height:100vh;
  overflow: hidden;
  font-family: 'Cardo', serif;
  .video-nav {
    position: fixed;
    top: 90%;
    left: 20%;
    z-index: 1;
    font-size: 1vw;
    .nav-section {
      text-decoration: none;
      color: black;
      text-align: center;
      font-size: 1vw;
      .nav-section-background {
        height: 5.5vh;
        width: 12vw;
        margin: -.1vw;
        background-color: #EFEFEF;
        span {
          position: relative;
          top: 30%; }
      }
    }
  }
  .video-background {
    z-index: -2;
    position: fixed;
    object-fit: cover;
    width:100%;
    height:100%; }
  .video-brand {
    font-size: 1.2vw;
    position: fixed;
    top: 1.5%;
    left: 2%;
    color: white; }
  .video-main-text {
    z-index: -1;
    width: 30vw;
    position: fixed;
    top: 60%;
    left: 20%;
    font-size: .9vw;
    :first-child {
      font-size: 1.7vw; } }
  #menu-logo {
    cursor: pointer;
    width: 2vw;
    position: fixed;
    z-index: 2;
    left: 96%;
    top: 2%;
  }
}


#history {
  background-color: white;
  font-family: 'Cardo', serif;
  padding-top: 10em;
  height: 100vh;
  z-index: 2;
  .history-text {
    padding: 5em 0 0 10em;
    text-align: center;
    h1 {
      padding-bottom: 1.5em;
      font-size: 2vw;}
    p {
      font-size: 1vw;
      padding-bottom: 1.5em;}
  }
  .history-image {
    padding-right: 0;
  }
}

#store{
  height: 50vh;
  background-color: white;
}

