// Fonts
@font-face {
  font-family: nexa;
  src: url(/public/font/nexa/NexaLight.otf); }
@font-face {
  font-family: butler;
  src: url(/public/font/Butler/Butler/ButlerMedium.otf); }

#remainder{
  background-color: white;
  width: 100%;
  height: 100%;
}

.section-header{
    text-align: left;
    font-family: 'nexa', serif;
    background-color: white;
    padding: 4em 0 0em 0;
    h1 {
      @media (max-width: 374px){
        text-align: center;
        font-size: 3em
      }
      @media (max-width: 767px){
        text-align: center;
      }
      @media (min-width: 768px){
        margin-left: 2em;
        font-size: 4em; 
      } } }

// Menu Button
.hide-overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  .overlay-content {
    width: 100%;
    text-align: center;
    position: relative;
    top: 30%;
    a {
      padding: 1vh;
      text-decoration: none;
      font-size: 3em;
      color: #818181;
      display: block;
      transition: 0.3s;
      font-family: 'Cardo', serif; } }
  .overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
  }
}

.video-nav-overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.video-wrapper{
  width:100%;
  height:100vh;
  overflow: hidden;
  font-family: 'Cardo', serif;
  .video-nav{
    display: none; }
  @media screen and (min-width: 1025px){
    .video-nav {
      display: block;
      position: fixed;
      top: 90%;
      left: 26%;
      z-index: 1;
      font-size: 1vw;
      .nav-section {
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 1vw;
        .nav-section-background {
          height: 5.5vh;
          width: 12vw;
          margin: -.1vw;
          background-color: #EFEFEF;
          span {
            position: relative;
            top: 30%; } } } } }
  .video-background {
    z-index: -2;
    object-fit: cover;
    position: fixed;
    width:100%;
    height:100%; }
  .video-content{
    position: fixed;
    text-align: center;
    width: 100%;
    top: 25%;
    .video-brand {
    font-size: 5vw;
    color: white;
    @media (max-width: 767px){
      font-size: 8vw;
    } }
  }
  #menu-logo {
    cursor: pointer;
    width: 8vw;
    position: fixed;
    z-index: 2;
    left: 88%;
    top: 4%;
    @media (min-width: 650px){
      left: 92%;
      width: 4.5vw;
    }
    @media (min-width: 900px){
      left: 93%;
      width: 4vw;
    }
    @media (min-width: 1050px){
      width: 3vw;
      left: 95%;
    }
  }
}

#theStore{
  background-color: white;
  padding-bottom: 5em;
  padding-top: 5em;
  @media (max-width: 767px){
    height: 145em;
  }
  .theStoreContainer{
    padding: 0 8em 0 8em;
    height: 20em;
    text-align: center;
    font-family: 'butler', serif;
    @media (max-width: 767px){
      padding: 0;
    }
    @media (min-width: 830px){
      padding: 0 8em 0 8em;
      height: 30em; }
    @media (min-width: 1050px){
      padding: 0 8em 0 8em;
      height: 40em; }
    @media (min-width: 1250px){
      padding: 0 8em 0 8em;
      height: 50em; }
    .theStoreMedia1{
      background: url('/public/media/theStore1.jpg') no-repeat center center;
      background-size: cover;
      height: 100%; }
    .theStoreText1{
      background-color: #96858F;
      height: 100%;
      color: white;
      h2{
        margin-top: 2em;
        font-size: 2.5em;
        @media (max-width: 767px){
          margin-top: 0;
          padding-top: 2em;
        }
        @media (min-width: 830px){
          margin-top: 3.5em;
          font-size: 3em; }
        @media (min-width: 1024px){
          margin-top: 1.5em;
          font-size: 2.5em; }
        @media (min-width: 1050px){
          margin-top: 1.5em;
          font-size: 3em; }
        @media (min-width: 1200px){
          margin-top: 1.5em;
          font-size: 3.8em; }
        @media (min-width: 1312px){
          margin-top: 1.5em;
          font-size: 4em; }
        @media (min-width: 1415px){
          margin-top: 1.5em;
          font-size: 4.5em; } }
      p {
        font-family: nexa;
        display: none;
        @media (min-width: 1024px){
          display: block;
          margin: 1em 3em 3em 3em;
          font-size: 1em; }
        @media (min-width: 1050px){
          display: block;
          margin: 1em 3em 3em 3em;
          font-size: 1.2em; }
        @media (min-width: 1250px){
          display: block;
          margin: 1em 3em 3em 3em;
          font-size: 1.5em; }
        @media (min-width: 1308px){
          display: block;
          margin: 1em 3em 3em 3em;
          font-size: 1.5em; }
        @media (min-width: 1480px){
          display: block;
          margin: 1em 3em 3em 3em;
          font-size: 1.5em; }
        @media (min-width: 1590px){
          display: block;
          margin: 1em 3em 3em 3em;
          font-size: 1.4em; } } }
    .theStoreMedia2{
      background: url('/public/media/theStore2.jpg') no-repeat center center;
      background-size: cover;
      height: 100%; }
    .theStoreText2{
      background-color: white;
      height: 100%;
      color: black;
      h2{
        margin-top: 2.5em;
        font-size: 2.5em;
        color: #96858F; 
        @media (max-width: 767px){
          margin-top: 0;
          padding-top: 2.5em;
        }
        @media (min-width: 830px){
          margin-top: 3.5em;
          font-size: 3em;
          color: #96858F; }
        @media (min-width: 950px){
          margin-top: 2em;
          font-size: 4em;
          color: #96858F; }
        @media (min-width: 1024px){
          padding: 0 1em 0 1em;
          margin-top: 2em;
          font-size: 3em;
          color: #96858F; }
        @media (min-width: 1086px){
          padding: 0 1em 0 1em;
          margin-top: 2em;
          font-size: 3.5em;
          color: #96858F; } }
      p {
        display: none;
        @media (min-width: 1024px){
          display: block;
          font-size: .8em; }
        @media (min-width: 1050px){
          display: block;
          margin: 1em;
          padding: 0 1em 0 1em;
          font-size: 1em; }
        @media (min-width: 1086px){
          display: block;
          margin: 1em;
          padding: 0 1em 0 1em;
          font-size: 1em; }
        @media (min-width: 1308px){
          display: block;
          margin: 2em;
          padding: 0 4em 0 4em;
          font-size: 1em; }
        @media (min-width: 1480px){
          display: block;
          margin: 2em;
          padding: 0 4em 0 4em;
          font-size: 1.1em; }
        @media (min-width: 1590px){
          display: block;
          margin: 2em;
          padding: 0 4em 0 4em;
          font-size: 1.2em; } } }
    .theStoreMedia3{
      background: url('/public/media/theStore4.jpg') no-repeat center center;
      background-size: cover;
      height: 100%; }
    .theStoreText3{
      background-color: #96858F;
      height: 100%;
      color: white;
      h2{
        padding: 0 1em 0 1em;
        margin-top: 1.6em;
        font-size: 2.2em;
        @media (max-width: 767px){
          margin-top: 0;
          padding-top: 3em;
        }
        @media (min-width: 837px){
          margin-top: 3em;
          font-size: 2.5em; }
        @media (min-width: 947px){
          margin-top: 2em;
          font-size: 3em; }
        @media (min-width: 1024px){
          margin-top: 2em;
          font-size: 2.2em; }
        @media (min-width: 1148px){
          margin-top: 2em;
          font-size: 2.8em; }
        @media (min-width: 1250px){
          margin-top: 2em;
          font-size: 3em; }
        @media (min-width: 1364px){
          margin-top: 2em;
          font-size: 3.5em; }
        @media (min-width: 1510px){
          margin-top: 2em;
          font-size: 4em; } }
      p {
        display: none;
        font-family: nexa;
        @media (min-width: 1024px){
          display: block;
          margin: .8em;
          font-size: 1em; }
        @media (min-width: 1148px){
          display: block;
          margin: 2em;
          font-size: 1.2em; }
        @media (min-width: 1480px){
          display: block;
          margin: 2em;
          font-size: 1.1em; }
        @media (min-width: 1590px){
          display: block;
          margin: 2em;
          font-size: 1.2em;
        }
      }
    }
  }
}

#gallery{
  padding-bottom: 5em;
  @media (max-width: 767px){
    padding-bottom: 0;
  }
  .galleryGrid{
    padding: 0 5em 0 5em;
    width: 100vw;
    @media (max-width: 767px){
     padding: 0 0 0 2.5em;
    }
    .gridImg {
      height: 20vw;
      width: 100%;
      margin-bottom: 2em;
      @media (max-width: 767px){
        height: 30vw;
        margin-bottom: 1em;;
      }
    }
  }
}

// Toggle Form
#contact-us{
  background-color: white;
  padding-top: 3em;
  h5 {
    @media (max-width: 767px){
      font-size: 1.5em;
      padding-bottom: 2em;
    } }
  #toggleInput{
    padding-bottom: 3em; }
  .togglepadding{
    padding-right: 0; }
  .toggletext{
    padding-left: 0;
    position: relative;
    @media (max-width: 767px){
      padding-left: 1.3em;
    } }
  // Toggle -- Credit to callmenick
  .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden; }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none; }
  input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 66px;
    height: 36px;
    background-color: #BBBBBB;
    border-radius: 30px;
    transition: background 0.2s; }
  input.cmn-toggle-round-flat + label:before,
  input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: ""; }
  input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: background 0.2s; }
  input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 28px;
    background-color: #BBBBBB;
    border-radius: 30px;
    transition: margin 0.2s, background 0.2s; }
  input.cmn-toggle-round-flat:checked + label {
    background-color: #0c3766; }
  input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 30px;
    background-color: #0c3766; }
  .jumbotron{
    background-color: white;
    display: none;
    .btn-indigo{
      background-color: #0c3766;
      color: white;
    }
    textarea{
      max-width: 100%;
      height: 200px;
    }
  }
}

footer{
  height: 8em;
  background-color: #32404f;
}


