.video-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Cardo', serif; }
  .video-wrapper .video-nav {
    position: fixed;
    top: 90%;
    left: 20%;
    z-index: 100;
    font-size: 1vw; }
    .video-wrapper .video-nav .nav-section {
      text-decoration: none;
      color: black;
      text-align: center;
      font-size: 1vw; }
      .video-wrapper .video-nav .nav-section .nav-section-background {
        height: 5.5vh;
        width: 12vw;
        margin: -.1vw;
        background-color: #EFEFEF; }
        .video-wrapper .video-nav .nav-section .nav-section-background span {
          position: relative;
          top: 30%; }
  .video-wrapper .video-background {
    z-index: -100;
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .video-wrapper .video-brand {
    font-size: 1.2vw;
    position: fixed;
    top: 1.5%;
    left: 2%;
    color: white; }
  .video-wrapper .video-main-text {
    z-index: -1;
    width: 30vw;
    position: fixed;
    top: 60%;
    left: 20%;
    font-size: .9vw; }
    .video-wrapper .video-main-text :first-child {
      font-size: 1.7vw; }
  .video-wrapper #menu-logo {
    width: 2vw;
    position: fixed;
    z-index: 100;
    left: 96%;
    top: 2%; }

#history {
  background-color: white;
  font-family: 'Cardo', serif;
  padding-top: 10em;
  height: 100vh; }
  #history .history-text {
    padding: 5em 0 0 10em;
    text-align: center; }
    #history .history-text h1 {
      padding-bottom: 1.5em;
      font-size: 2vw; }
    #history .history-text p {
      font-size: 1vw;
      padding-bottom: 1.5em; }
  #history .history-image {
    padding-right: 0; }
