@font-face {
  font-family: nexa;
  src: url(/public/font/nexa/NexaLight.otf); }

@font-face {
  font-family: butler;
  src: url(/public/font/Butler/Butler/ButlerMedium.otf); }

#remainder {
  background-color: white;
  width: 100%; }

.hide-overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }
  .hide-overlay .overlay-content {
    width: 100%;
    text-align: center;
    position: relative;
    top: 30%; }
    .hide-overlay .overlay-content a {
      padding: 1vh;
      text-decoration: none;
      font-size: 3em;
      color: #818181;
      display: block;
      transition: 0.3s;
      font-family: 'Cardo', serif; }
  .hide-overlay .overlay-content a:hover, .hide-overlay .overlay-content a:focus {
    color: #f1f1f1; }

.video-nav-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.video-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Cardo', serif; }
  .video-wrapper .video-nav {
    display: none; }
  @media screen and (min-width: 1024px) {
    .video-wrapper .video-nav {
      display: block;
      position: fixed;
      top: 90%;
      left: 26%;
      z-index: 1;
      font-size: 1vw; }
      .video-wrapper .video-nav .nav-section {
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 1vw; }
        .video-wrapper .video-nav .nav-section .nav-section-background {
          height: 5.5vh;
          width: 12vw;
          margin: -.1vw;
          background-color: #EFEFEF; }
          .video-wrapper .video-nav .nav-section .nav-section-background span {
            position: relative;
            top: 30%; } }
  .video-wrapper .video-background {
    z-index: -2;
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .video-wrapper .video-brand {
    font-size: 1.2vw;
    position: fixed;
    top: 1.5%;
    left: 2%;
    color: white; }
  .video-wrapper .video-main-text {
    z-index: -1;
    width: 30vw;
    position: fixed;
    top: 60%;
    left: 20%;
    font-size: .9vw; }
    .video-wrapper .video-main-text :first-child {
      font-size: 1.7vw; }
  .video-wrapper #menu-logo {
    cursor: pointer;
    width: 2vw;
    position: fixed;
    z-index: 2;
    left: 96%;
    top: 2%; }

#theStore {
  background-color: white;
  padding-bottom: 5em;
  padding-top: 5em; }
  #theStore .section-header {
    text-align: left;
    font-family: 'nexa', serif;
    background-color: white;
    padding-top: 5em; }
    #theStore .section-header h1 {
      margin-left: 2em;
      font-size: 4em; }
  #theStore .theStoreContainer {
    padding: 0 8em 0 8em;
    height: 50em;
    text-align: center;
    font-family: 'butler', serif; }
    #theStore .theStoreContainer .theStoreMedia1 {
      background: url("/public/media/theStore1.jpg") no-repeat center center;
      background-size: cover;
      height: 100%; }
    #theStore .theStoreContainer .theStoreText1 {
      background-color: #96858F;
      height: 100%;
      color: white; }
      #theStore .theStoreContainer .theStoreText1 h2 {
        padding: 0 1em 0 1em;
        margin-top: 2em;
        font-size: 3.5em; }
        @media (min-width: 1200px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            font-size: 2.5em; } }
        @media (min-width: 1312px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            font-size: 3.5em; } }
      #theStore .theStoreContainer .theStoreText1 p {
        margin: 3em;
        padding: 0 4em 0 4em;
        font-family: nexa;
        font-size: 1.1em; }
        @media (min-width: 1308px) {
          #theStore .theStoreContainer .theStoreText1 p {
            font-size: 1em; } }
        @media (min-width: 1480px) {
          #theStore .theStoreContainer .theStoreText1 p {
            font-size: 1.1em; } }
        @media (min-width: 1590px) {
          #theStore .theStoreContainer .theStoreText1 p {
            font-size: 1.2em; } }
    #theStore .theStoreContainer .theStoreMedia2 {
      background: url("/public/media/theStore2.jpg") no-repeat center center;
      background-size: cover;
      height: 100%; }
    #theStore .theStoreContainer .theStoreText2 {
      background-color: white;
      height: 100%;
      color: black; }
      #theStore .theStoreContainer .theStoreText2 h2 {
        padding: 0 1em 0 1em;
        margin-top: 2em;
        font-size: 4em;
        color: #96858F; }
      #theStore .theStoreContainer .theStoreText2 p {
        font-size: 1em;
        margin: 2em;
        padding: 0 4em 0 4em;
        font-family: nexa; }
        @media (min-width: 1308px) {
          #theStore .theStoreContainer .theStoreText2 p {
            font-size: 1em; } }
        @media (min-width: 1480px) {
          #theStore .theStoreContainer .theStoreText2 p {
            font-size: 1.1em; } }
        @media (min-width: 1590px) {
          #theStore .theStoreContainer .theStoreText2 p {
            font-size: 1.2em; } }
    #theStore .theStoreContainer .theStoreMedia3 {
      background: url("/public/media/theStore4.jpg") no-repeat center center;
      background-size: cover;
      height: 100%; }
    #theStore .theStoreContainer .theStoreText3 {
      background-color: #96858F;
      height: 100%;
      color: white; }
      #theStore .theStoreContainer .theStoreText3 h2 {
        padding: 0 1em 0 1em;
        margin-top: 2em;
        font-size: 3em; }
        @media (min-width: 1364px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            font-size: 3.5em; } }
        @media (min-width: 1510px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            font-size: 4em; } }
      #theStore .theStoreContainer .theStoreText3 p {
        font-size: 1.2em;
        margin: 3em;
        font-family: nexa; }
        @media (min-width: 1308px) {
          #theStore .theStoreContainer .theStoreText3 p {
            font-size: 1em; } }
        @media (min-width: 1480px) {
          #theStore .theStoreContainer .theStoreText3 p {
            font-size: 1.1em; } }
        @media (min-width: 1590px) {
          #theStore .theStoreContainer .theStoreText3 p {
            font-size: 1.2em; } }

#awards {
  padding-bottom: 5em; }
  #awards .section-header {
    text-align: left;
    font-family: 'nexa', serif;
    padding-top: 5em; }
    #awards .section-header h1 {
      margin-left: 2em;
      font-size: 4em; }
  #awards .awardsMain {
    padding: 0 8em 0 8em;
    text-align: center; }
    #awards .awardsMain .awardsSecond {
      height: 12em; }
      #awards .awardsMain .awardsSecond #award1 {
        height: 10em;
        background: url("/public/media/award1.jpg") center/cover; }
      #awards .awardsMain .awardsSecond #award2 {
        height: 10em;
        background: url("/public/media/award2.jpg") center/cover; }
      #awards .awardsMain .awardsSecond #award3 {
        height: 10em;
        background: url("/public/media/award3.jpg") center/cover; }

#gallery {
  padding-bottom: 5em; }
  #gallery .section-header {
    text-align: left;
    font-family: 'nexa', serif; }
    #gallery .section-header h1 {
      margin-left: 2em;
      font-size: 4em; }
  #gallery .galleryGrid {
    padding: 0 5em 0 5em;
    width: 100vw; }
    #gallery .galleryGrid .gridImg {
      height: 15vw;
      width: 100%;
      margin-bottom: 2em; }

#contact-us {
  background-color: white;
  padding-top: 3em; }
  #contact-us .section-header {
    text-align: left;
    font-family: 'nexa', serif; }
    #contact-us .section-header h1 {
      margin-left: 2em;
      font-size: 4em; }
  #contact-us h5 {
    padding-bottom: 2em; }
  #contact-us #toggleInput {
    padding-bottom: 3em; }
  #contact-us .togglepadding {
    padding-right: 0; }
  #contact-us .toggletext {
    padding-left: 0;
    position: relative; }
  #contact-us .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden; }
  #contact-us .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none; }
  #contact-us input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 66px;
    height: 36px;
    background-color: #BBBBBB;
    border-radius: 30px;
    transition: background 0.2s; }
  #contact-us input.cmn-toggle-round-flat + label:before,
  #contact-us input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: ""; }
  #contact-us input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: background 0.2s; }
  #contact-us input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 28px;
    background-color: #BBBBBB;
    border-radius: 30px;
    transition: margin 0.2s, background 0.2s; }
  #contact-us input.cmn-toggle-round-flat:checked + label {
    background-color: #0c3766; }
  #contact-us input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 30px;
    background-color: #0c3766; }
  #contact-us .jumbotron {
    background-color: white;
    display: none; }
    #contact-us .jumbotron .btn-indigo {
      background-color: #0c3766;
      color: white; }
    #contact-us .jumbotron textarea {
      max-width: 100%;
      height: 200px; }

footer {
  height: 8em;
  background-color: #32404f; }
