@font-face {
  font-family: nexa;
  src: url(/public/font/nexa/NexaLight.otf); }

@font-face {
  font-family: butler;
  src: url(/public/font/Butler/Butler/ButlerMedium.otf); }

#remainder {
  background-color: white;
  width: 100%;
  height: 100%; }

.section-header {
  text-align: left;
  font-family: 'nexa', serif;
  background-color: white;
  padding: 4em 0 0em 0; }
  @media (max-width: 374px) {
    .section-header h1 {
      text-align: center;
      font-size: 3em; } }
  @media (max-width: 767px) {
    .section-header h1 {
      text-align: center; } }
  @media (min-width: 768px) {
    .section-header h1 {
      margin-left: 2em;
      font-size: 4em; } }

.hide-overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }
  .hide-overlay .overlay-content {
    width: 100%;
    text-align: center;
    position: relative;
    top: 30%; }
    .hide-overlay .overlay-content a {
      padding: 1vh;
      text-decoration: none;
      font-size: 3em;
      color: #818181;
      display: block;
      transition: 0.3s;
      font-family: 'Cardo', serif; }
  .hide-overlay .overlay-content a:hover, .hide-overlay .overlay-content a:focus {
    color: #f1f1f1; }

.video-nav-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.video-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Cardo', serif; }
  .video-wrapper .video-nav {
    display: none; }
  @media screen and (min-width: 1025px) {
    .video-wrapper .video-nav {
      display: block;
      position: fixed;
      top: 90%;
      left: 26%;
      z-index: 1;
      font-size: 1vw; }
      .video-wrapper .video-nav .nav-section {
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 1vw; }
        .video-wrapper .video-nav .nav-section .nav-section-background {
          height: 5.5vh;
          width: 12vw;
          margin: -.1vw;
          background-color: #EFEFEF; }
          .video-wrapper .video-nav .nav-section .nav-section-background span {
            position: relative;
            top: 30%; } }
  .video-wrapper .video-background {
    z-index: -2;
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%; }
  .video-wrapper .video-content {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 25%; }
    .video-wrapper .video-content .video-brand {
      font-size: 5vw;
      color: white; }
      @media (max-width: 767px) {
        .video-wrapper .video-content .video-brand {
          font-size: 8vw; } }
  .video-wrapper #menu-logo {
    cursor: pointer;
    width: 8vw;
    position: fixed;
    z-index: 2;
    left: 88%;
    top: 4%; }
    @media (min-width: 650px) {
      .video-wrapper #menu-logo {
        left: 92%;
        width: 4.5vw; } }
    @media (min-width: 900px) {
      .video-wrapper #menu-logo {
        left: 93%;
        width: 4vw; } }
    @media (min-width: 1050px) {
      .video-wrapper #menu-logo {
        width: 3vw;
        left: 95%; } }

#theStore {
  background-color: white;
  padding-bottom: 5em;
  padding-top: 5em; }
  @media (max-width: 767px) {
    #theStore {
      height: 145em; } }
  #theStore .theStoreContainer {
    padding: 0 8em 0 8em;
    height: 20em;
    text-align: center;
    font-family: 'butler', serif; }
    @media (max-width: 767px) {
      #theStore .theStoreContainer {
        padding: 0; } }
    @media (min-width: 830px) {
      #theStore .theStoreContainer {
        padding: 0 8em 0 8em;
        height: 30em; } }
    @media (min-width: 1050px) {
      #theStore .theStoreContainer {
        padding: 0 8em 0 8em;
        height: 40em; } }
    @media (min-width: 1250px) {
      #theStore .theStoreContainer {
        padding: 0 8em 0 8em;
        height: 50em; } }
    #theStore .theStoreContainer .theStoreMedia1 {
      background: url("/public/media/theStore1.jpg") no-repeat center center;
      background-size: cover;
      height: 100%; }
    #theStore .theStoreContainer .theStoreText1 {
      background-color: #96858F;
      height: 100%;
      color: white; }
      #theStore .theStoreContainer .theStoreText1 h2 {
        margin-top: 2em;
        font-size: 2.5em; }
        @media (max-width: 767px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            margin-top: 0;
            padding-top: 2em; } }
        @media (min-width: 830px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            margin-top: 3.5em;
            font-size: 3em; } }
        @media (min-width: 1024px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            margin-top: 1.5em;
            font-size: 2.5em; } }
        @media (min-width: 1050px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            margin-top: 1.5em;
            font-size: 3em; } }
        @media (min-width: 1200px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            margin-top: 1.5em;
            font-size: 3.8em; } }
        @media (min-width: 1312px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            margin-top: 1.5em;
            font-size: 4em; } }
        @media (min-width: 1415px) {
          #theStore .theStoreContainer .theStoreText1 h2 {
            margin-top: 1.5em;
            font-size: 4.5em; } }
      #theStore .theStoreContainer .theStoreText1 p {
        font-family: nexa;
        display: none; }
        @media (min-width: 1024px) {
          #theStore .theStoreContainer .theStoreText1 p {
            display: block;
            margin: 1em 3em 3em 3em;
            font-size: 1em; } }
        @media (min-width: 1050px) {
          #theStore .theStoreContainer .theStoreText1 p {
            display: block;
            margin: 1em 3em 3em 3em;
            font-size: 1.2em; } }
        @media (min-width: 1250px) {
          #theStore .theStoreContainer .theStoreText1 p {
            display: block;
            margin: 1em 3em 3em 3em;
            font-size: 1.5em; } }
        @media (min-width: 1308px) {
          #theStore .theStoreContainer .theStoreText1 p {
            display: block;
            margin: 1em 3em 3em 3em;
            font-size: 1.5em; } }
        @media (min-width: 1480px) {
          #theStore .theStoreContainer .theStoreText1 p {
            display: block;
            margin: 1em 3em 3em 3em;
            font-size: 1.5em; } }
        @media (min-width: 1590px) {
          #theStore .theStoreContainer .theStoreText1 p {
            display: block;
            margin: 1em 3em 3em 3em;
            font-size: 1.4em; } }
    #theStore .theStoreContainer .theStoreMedia2 {
      background: url("/public/media/theStore2.jpg") no-repeat center center;
      background-size: cover;
      height: 100%; }
    #theStore .theStoreContainer .theStoreText2 {
      background-color: white;
      height: 100%;
      color: black; }
      #theStore .theStoreContainer .theStoreText2 h2 {
        margin-top: 2.5em;
        font-size: 2.5em;
        color: #96858F; }
        @media (max-width: 767px) {
          #theStore .theStoreContainer .theStoreText2 h2 {
            margin-top: 0;
            padding-top: 2.5em; } }
        @media (min-width: 830px) {
          #theStore .theStoreContainer .theStoreText2 h2 {
            margin-top: 3.5em;
            font-size: 3em;
            color: #96858F; } }
        @media (min-width: 950px) {
          #theStore .theStoreContainer .theStoreText2 h2 {
            margin-top: 2em;
            font-size: 4em;
            color: #96858F; } }
        @media (min-width: 1024px) {
          #theStore .theStoreContainer .theStoreText2 h2 {
            padding: 0 1em 0 1em;
            margin-top: 2em;
            font-size: 3em;
            color: #96858F; } }
        @media (min-width: 1086px) {
          #theStore .theStoreContainer .theStoreText2 h2 {
            padding: 0 1em 0 1em;
            margin-top: 2em;
            font-size: 3.5em;
            color: #96858F; } }
      #theStore .theStoreContainer .theStoreText2 p {
        display: none; }
        @media (min-width: 1024px) {
          #theStore .theStoreContainer .theStoreText2 p {
            display: block;
            font-size: .8em; } }
        @media (min-width: 1050px) {
          #theStore .theStoreContainer .theStoreText2 p {
            display: block;
            margin: 1em;
            padding: 0 1em 0 1em;
            font-size: 1em; } }
        @media (min-width: 1086px) {
          #theStore .theStoreContainer .theStoreText2 p {
            display: block;
            margin: 1em;
            padding: 0 1em 0 1em;
            font-size: 1em; } }
        @media (min-width: 1308px) {
          #theStore .theStoreContainer .theStoreText2 p {
            display: block;
            margin: 2em;
            padding: 0 4em 0 4em;
            font-size: 1em; } }
        @media (min-width: 1480px) {
          #theStore .theStoreContainer .theStoreText2 p {
            display: block;
            margin: 2em;
            padding: 0 4em 0 4em;
            font-size: 1.1em; } }
        @media (min-width: 1590px) {
          #theStore .theStoreContainer .theStoreText2 p {
            display: block;
            margin: 2em;
            padding: 0 4em 0 4em;
            font-size: 1.2em; } }
    #theStore .theStoreContainer .theStoreMedia3 {
      background: url("/public/media/theStore4.jpg") no-repeat center center;
      background-size: cover;
      height: 100%; }
    #theStore .theStoreContainer .theStoreText3 {
      background-color: #96858F;
      height: 100%;
      color: white; }
      #theStore .theStoreContainer .theStoreText3 h2 {
        padding: 0 1em 0 1em;
        margin-top: 1.6em;
        font-size: 2.2em; }
        @media (max-width: 767px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            margin-top: 0;
            padding-top: 3em; } }
        @media (min-width: 837px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            margin-top: 3em;
            font-size: 2.5em; } }
        @media (min-width: 947px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            margin-top: 2em;
            font-size: 3em; } }
        @media (min-width: 1024px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            margin-top: 2em;
            font-size: 2.2em; } }
        @media (min-width: 1148px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            margin-top: 2em;
            font-size: 2.8em; } }
        @media (min-width: 1250px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            margin-top: 2em;
            font-size: 3em; } }
        @media (min-width: 1364px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            margin-top: 2em;
            font-size: 3.5em; } }
        @media (min-width: 1510px) {
          #theStore .theStoreContainer .theStoreText3 h2 {
            margin-top: 2em;
            font-size: 4em; } }
      #theStore .theStoreContainer .theStoreText3 p {
        display: none;
        font-family: nexa; }
        @media (min-width: 1024px) {
          #theStore .theStoreContainer .theStoreText3 p {
            display: block;
            margin: .8em;
            font-size: 1em; } }
        @media (min-width: 1148px) {
          #theStore .theStoreContainer .theStoreText3 p {
            display: block;
            margin: 2em;
            font-size: 1.2em; } }
        @media (min-width: 1480px) {
          #theStore .theStoreContainer .theStoreText3 p {
            display: block;
            margin: 2em;
            font-size: 1.1em; } }
        @media (min-width: 1590px) {
          #theStore .theStoreContainer .theStoreText3 p {
            display: block;
            margin: 2em;
            font-size: 1.2em; } }

#gallery {
  padding-bottom: 5em; }
  @media (max-width: 767px) {
    #gallery {
      padding-bottom: 0; } }
  #gallery .galleryGrid {
    padding: 0 5em 0 5em;
    width: 100vw; }
    @media (max-width: 767px) {
      #gallery .galleryGrid {
        padding: 0 0 0 2.5em; } }
    #gallery .galleryGrid .gridImg {
      height: 20vw;
      width: 100%;
      margin-bottom: 2em; }
      @media (max-width: 767px) {
        #gallery .galleryGrid .gridImg {
          height: 30vw;
          margin-bottom: 1em; } }

#contact-us {
  background-color: white;
  padding-top: 3em; }
  @media (max-width: 767px) {
    #contact-us h5 {
      font-size: 1.5em;
      padding-bottom: 2em; } }
  #contact-us #toggleInput {
    padding-bottom: 3em; }
  #contact-us .togglepadding {
    padding-right: 0; }
  #contact-us .toggletext {
    padding-left: 0;
    position: relative; }
    @media (max-width: 767px) {
      #contact-us .toggletext {
        padding-left: 1.3em; } }
  #contact-us .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden; }
  #contact-us .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none; }
  #contact-us input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 66px;
    height: 36px;
    background-color: #BBBBBB;
    border-radius: 30px;
    transition: background 0.2s; }
  #contact-us input.cmn-toggle-round-flat + label:before,
  #contact-us input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: ""; }
  #contact-us input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: background 0.2s; }
  #contact-us input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 28px;
    background-color: #BBBBBB;
    border-radius: 30px;
    transition: margin 0.2s, background 0.2s; }
  #contact-us input.cmn-toggle-round-flat:checked + label {
    background-color: #0c3766; }
  #contact-us input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 30px;
    background-color: #0c3766; }
  #contact-us .jumbotron {
    background-color: white;
    display: none; }
    #contact-us .jumbotron .btn-indigo {
      background-color: #0c3766;
      color: white; }
    #contact-us .jumbotron textarea {
      max-width: 100%;
      height: 200px; }

footer {
  height: 8em;
  background-color: #32404f; }
